<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./assets/icon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>文天玩WenTian Play | 全职攻略教程兼祖帝邮箱QQ交流群导航站🐍 -文天玩网络科技有限公司</title>
</head>
 
<body>
    <div id="app">
        <div class="left-nav">
            <div class="head-image" :style="{backgroundImage:'url('+settings.headImage+')'}"></div>
        </div>
        <div class="main-container">

            <div class="center-container">
                <!-- 网站列表部分 -->
                <div class="sites-container">
                    <div class="second-kind" v-for="kind_val,kind_name,_ in sitesData">
                        <div class="kind-name">
                            <div class="icon" :style="{backgroundImage:'url('+kind_val.icon+')'}"></div>
                            <div class="name">{{kind_name}}</div>
                        </div>
                        <div class="sites-box">
                            <div @click="open(site_val.url)" class="site-box" v-for="site_val in kind_val.data">
                                <div class="icon" :data-original="site_val.icon">
                                </div>
                                <div class="info">
                                    <div class="name">{{site_val.name}}</div>
                                    <div class="describe">{{site_val.describe}}</div>
                                </div>
                            </div>
                            <div class="site-box not_show" v-for="i in 10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="./js/vue3.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.lazyload.min.js"></script>
    <script src="./js/utils.js"></script>
    <script src="./js/index.js"></script>
</footer>

<style type="text/css">	
#bottom-outer {
    color: #888;
    text-align: center;
    padding: 16px;
    padding-top: 24px;
    background-color: #fff;
    font-size: 18px;
    opacity:0.89;
}
</style>
</head>
<body>
	
<div id="bottom-outer">
                <div id="bottom-inner">              
                    <br>全职攻略教程(直达站）🐍访问量:<span id="result1"></span>
                    <span id="year"></span>
                </div>
            </div>
        </div>
</body>
<script type="text/javascript">
	//流量统计
                    if (localStorage.pagecount) {
                        localStorage.pagecount = Number(localStorage.pagecount) + 1;
                    } else {
                        localStorage.pagecount = 1;
                    }
                    document.getElementById("result1").innerHTML = localStorage.pagecount;
	
</script>
<!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p style="color:#dfe5ec;margin-bottom:0rem"> 友情外链:&nbsp;&nbsp;<a target="_blank" href="https://api.wentianplay.com">国际站</a>&nbsp;&nbsp;<a target="_blank" href="https://www.wentianplay.cn">中国站</a>&nbsp;&nbsp;<a target="_blank" href="https://www.wentianplay.net">数据站</a></p>
                    <p class="p-small">Copyright &copy; 2015-2032 <a target="_blank" href="">文天玩WenTian Play</a>丨版权所有</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
<!-- end of copyright -->
全职攻略教程(直达站）🐍
</html>
